# --- Wi-Fi FTM ---
CONFIG_ESP_WIFI_FTM_ENABLE=y
CONFIG_ESP_WIFI_FTM_INITIATOR_SUPPORT=y

# --- Target: ESP32-S3 ---
CONFIG_IDF_TARGET="esp32s3"

# --- SSD1306 OLED ---
CONFIG_I2C_INTERFACE=y
CONFIG_SSD1306_128x64=y
CONFIG_SDA_GPIO=4
CONFIG_SCL_GPIO=5
CONFIG_RESET_GPIO=-1
CONFIG_I2C_PORT_0=y
CONFIG_OFFSETX=0
